<h2 class="clamp">{{ article?.name }}</h2>

<p class="clamp">{{ article?.description }}</p>

<h4 *ngFor="let recipe of article?.recipes">
  <a class="subtle" [routerLink]="['/recipes', recipe.id]">{{ recipe.name }}</a>
</h4>

<div class="divider"><hr /></div>

<div class="info">
  <div class="author">
    <h4>{{ article?.user?.name }}</h4>

    <h5>{{ article?.createdOn | date: "short" }}</h5>
  </div>

  <rh-interaction-button
    icon="heart"
    [caption]="caption"
    [interacted]="article?.isLiked"
    color="var(--rh-color-red)"
  ></rh-interaction-button>
</div>
