:host {
  display: contents;
}

nav {
  display: flex;
  align-items: baseline;
  gap: 2rem;
  padding: 1rem 2rem;
}

.logo {
  margin: 0;
  font-size: 2.25rem;
  font-weight: 900;
}

ul {
  display: flex;
  gap: 1rem;
  list-style: none;
  padding: 0;
}

li > a {
  font-weight: 700;
  color: unset;
  text-decoration: none;
}

li > a.active {
  color: var(--rh-color-accent);
  border-bottom: 2px solid var(--rh-color-accent);
}

.user-container {
  display: flex;
  align-items: center;
  align-self: center;
  gap: 1rem;
  margin-inline-start: auto;
}

.user-info {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.user-avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 3rem;
  border-radius: 1.5rem;
  font-size: 1.5rem;
  font-weight: 900;
  color: var(--rh-color-text-secondary);
  background-color: var(--rh-color-background-secondary);
  user-select: none;
}

.user-link {
  color: var(--rh-color-text-secondary);
  font-weight: 600;
  transition: color 0.1s ease-in-out;

  &:hover {
    cursor: pointer;
    color: var(--rh-color-accent);
  }
}
