<div class="sign-up-container">
  <h1 class="logo">RecipeHub</h1>

  <form [formGroup]="form">
    <input type="text" placeholder="Nome" formControlName="name" />
    <input type="text" placeholder="E-mail" formControlName="email" />
    <input
      type="text"
      placeholder="Nome de usuário"
      formControlName="username"
    />

    <input type="password" placeholder="Senha" formControlName="password" />
  </form>

  <rh-button sizing="fill" [disabled]="!form.valid" (onClick)="create()">
    Criar
  </rh-button>

  <a [routerLink]="['../login']">Já possuo uma conta</a>
</div>
