<div class="header">
  <h1>Minhas Receitas</h1>

  <div class="actions">
    <input type="text" [formControl]="seachControl" placeholder="Pesquisar" />
    <rh-button icon="plus" (onClick)="onCreateButtonPressed()">
      Nova receita
    </rh-button>
  </div>
</div>

<ng-container *ngIf="!isLoading; else loading">
  <ng-container *ngIf="recipes?.length; else emptyMessage">
    <rh-recipe-card
      *ngFor="let recipe of recipes"
      [recipe]="recipe"
      (click)="onRecipeCardPressed(recipe)"
    ></rh-recipe-card>
  </ng-container>
</ng-container>

<ng-template #emptyMessage>
  <rh-empty-message>Não encontramos nenhuma receita!</rh-empty-message>
</ng-template>

<ng-template #loading>
  <rh-loading></rh-loading>
</ng-template>
