/* You can add global styles to this file, and also import other style files */

:root {
  --rh-color-text-main: hsla(202, 77%, 7%, 1);
  --rh-color-text-secondary: hsla(202, 77%, 21%, 1);
  --rh-color-background-main: hsla(240, 20%, 99%, 1);
  --rh-color-background-secondary: hsla(240, 20%, 94%, 1);
  --rh-color-accent: hsla(234, 100%, 66%, 1);
  --rh-color-red: hsla(13, 90%, 58%, 1);
}

body {
  margin: 0;
  height: 100vh;
  font-family: "Inter", sans-serif;
  color: var(--rh-color-text-main);
  background-color: var(--rh-color-background-main);
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: unset;
  padding: unset;
}

ul,
ol {
  margin: unset;
  padding-inline-start: 1.5rem;
}

label {
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  font-weight: 600;
}

input,
textarea {
  border: none;
  background-color: var(--rh-color-background-secondary);
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  min-height: 2.5rem;
  color: var(--rh-color-text-secondary);
}

textarea {
  resize: none;
}

.required-indicator {
  color: var(--rh-color-red);
}
