:host {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0 2rem;
}

.header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.soon-message {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.5rem;
  padding: 2rem;
  gap: 1rem;
  color: var(--rh-color-text-secondary);

  > i {
    font-size: 2em;
  }
}
