.overlay {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  inset: 0;
  background-color: hsla(0, 0%, 0%, 0.25);
}

.dialog {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  min-width: 40vw;
  max-width: 80vw;
  max-height: 80vh;
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: var(--rh-color-background-main);
  box-shadow: 0px 1.8px 2.2px rgba(0, 0, 0, 0.02),
    0px 4.3px 5.3px rgba(0, 0, 0, 0.028), 0px 8px 10px rgba(0, 0, 0, 0.035),
    0px 14.3px 17.9px rgba(0, 0, 0, 0.042),
    0px 26.7px 33.4px rgba(0, 0, 0, 0.05), 0px 64px 80px rgba(0, 0, 0, 0.07);
}

.actions {
  display: flex;
  gap: 0.5rem;
  justify-content: flex-end;
}
